body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/images/a.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 30px;
    color: #555;
}

.start-btn {
    font-size: 24px;
    padding: 20px 50px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.start-btn:hover {
    background-color: #00796b;
    transform: scale(1.05);
}

.start-image {
    width: 400px;         
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.user-button {
    background: transparent;    
    border: none;               
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.button-image {
    width: 500px;               
    display: block;
    margin: 0 auto;
}